@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1390px
) !default;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;
$enable-grid-classes: true !default;
$enable-cssgrid: false !default;
$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$grid-row-columns: 6 !default;

// General
$transition-hover: all 0.3s ease-in-out;

// Colors - basic
$col-white: #fff;
$col-gray-100: #f8f9fa;
$col-gray-200: #e9ecef;
$col-gray-300: #dee2e6;
$col-gray-400: #ced4da;
$col-gray-500: #adb5bd;
$col-gray-600: #6c757d;
$col-gray-700: #495057;
$col-gray-800: #343a40;
$col-gray-900: #212529;
$col-black: #000;
$col-blue: #0d6efd;
$col-indigo: #6610f2;
$col-purple: #6f42c1;
$col-pink: #d63384;
$col-red: #dc3545;
$col-orange: #fd7e14;
$col-yellow: #ffc107;
$col-green: #198754;
$col-teal: #20c997;
$col-cyan: #0dcaf0;

// Colors - theme
$col-brand-primary: #238fcd;
$col-brand-accent: #18618b;
$col-neutral-1: #cbe6f6;
$col-neutral-2: #f3f8fe;

// Body element settings
$body-background-color: $col-neutral-2;
$body-text-color: $col-brand-primary;

// Font
$font-family-base: "Montserrat", sans-serif;
$font-size-default: 16px;
$font-size-huge-desktop: 5rem;
$font-size-huge-mobile: 2.25rem;
$font-size-big: 4.25rem;
$font-size-h1: 3.125rem;
$font-size-h2: 2.375rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.375rem;
$font-size-h5: 1.15rem;
$font-size-h6: 1rem;
$font-size-body-small: 1rem;
$font-size-body-medium: 1.25rem;
$font-size-body-big: 1.5rem;

// Header
$header-height-mobile: 65px;
$header-height-desktop: 80px;

// Header nav - header-nav.scss
$header-nav-border-bottom: 1px solid rgb(0 0 0 / 10%);
$header-nav-background-color: $col-gray-800;
$header-nav-border-bottom-color: $col-brand-primary;
$header-nav-burger-color: $col-brand-primary;
