@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1390px
) !default;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;
$enable-grid-classes: true !default;
$enable-cssgrid: false !default;
$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$grid-row-columns: 6 !default;

// Colors
$col-white: #fff;
$col-black: #000;
$col-brand-primary: #238fcd;
$col-brand-accent: #18618b;
$col-neutral-1: #cbe6f6;
$col-neutral-2: #f3f8fe;

// Body element settings
$col-body-bg: $col-neutral-2;
$col-body-text: $col-brand-primary;

// Font
$font-family-base: "Montserrat", sans-serif;
$font-size-default: 16px;
$font-size-huge: 5rem;
$font-size-big: 4.25rem;
$font-size-h1: 3.125rem;
$font-size-h2: 2.375rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.375rem;
$font-size-h5: 1.15rem;
$font-size-h6: 1rem;
$font-size-body-small: 1rem;
$font-size-body-medium: 1.25rem;
$font-size-body-big: 1.5rem;

// Header
$header-height-mobile: 65px;
$header-height-desktop: 80px;

// Header nav - header-nav.scss
$col-header-nav-border-bottom: $col-brand-primary;
$col-header-nav-burger: $col-brand-primary;
