<section class="brands">
    <div class="brands__inner container-fluid g-0 container-md g-md-1">
        <div class="brands__item">
            <img src="images/logo-brand-wordpress.png" alt="Wordpress logo">
        </div>
        <div class="brands__item">
            <img src="images/logo-brand-jquery.png" alt="Wordpress logo">
        </div>
        <div class="brands__item">
            <img src="images/logo-brand-less.png" alt="Wordpress logo">
        </div>
        <div class="brands__item">
            <img src="images/logo-brand-sass.png" alt="Wordpress logo">
        </div>
        <div class="brands__item">
            <img src="images/logo-brand-spotify.png" alt="Wordpress logo">
        </div>
    </div>
</section>
