<section class="section section--with-padding section-download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="section-title">Get This App</h2>
                <p class="section-download__desc">Awesome template, it has all the layouts and components I need for every web design project, lorem ipsum dolor sit. Lorem ipsum dolor sitamet, consectetur adipisicing elitsed </p>
                <%- include('download-buttons.ejs'); -%>
            </div>
        </div>
    </div>
</section>
