<div class="download-buttons">
    <a href="#" class="download-buttons__link">
        <img src="images/download-apple.png" alt="">
    </a>
    <a href="#" class="download-buttons__link">
        <img src="images/download-google.png" alt="">
    </a>
</div>
