<section id="section-faq" class="section section--with-padding section-faq">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title"><span class="section-title__sub">FAQ's</span>Frequently Asked Questions</h2>
            </div>
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="accordion">
                    <button class="accordion__title js-accordion-title">Section 1</button>
                    <div class="accordion__panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion__title js-accordion-title">Section 2</button>
                    <div class="accordion__panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion__title js-accordion-title">Section 3</button>
                    <div class="accordion__panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
