<section class="section section--with-padding features container">
    <div class="row">
        <div class="col-12 col-lg-6 features__images">
            <img src="https://via.placeholder.com/720x800.png" alt="" class="features__images__img">
        </div>
        <div class="features__boxes col-12 col-lg-5 offset-lg-1">
            <h2 class="section-title"><span class="section-title__sub">Features</span>Best Wireframe Structure</h2>
            <%- include('icon-box.ejs'); -%>
        </div>
    </div>
</section>
