<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__top__inner">
                <div class="footer__logo">
                    logo
                </div>
                <nav class="footer-nav">
                    <ul class="footer-nav__list">
                        <li class="footer-nav__list__item">
                            <a href="#" class="footer-nav__list__item__link">About us</a>
                        </li>
                        <li class="footer-nav__list__item">
                            <a href="#" class="footer-nav__list__item__link">How it works</a>
                        </li>
                        <li class="footer-nav__list__item">
                            <a href="#" class="footer-nav__list__item__link">Features</a>
                        </li>
                        <li class="footer-nav__list__item">
                            <a href="#" class="footer-nav__list__item__link">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom__inner">
                <div class="social-icons">
                    <ul class="social-icons__list">
                        <li class="social-icons__list__item">
                            <a href="#" class="social-icons__list__item__link">
                                <i class="fa-brands fa-twitter-square"></i>
                            </a>
                        </li>
                        <li class="social-icons__list__item">
                            <a href="#" class="social-icons__list__item__link">
                                <i class="fa-brands fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="social-icons__list__item">
                            <a href="#" class="social-icons__list__item__link">
                                <i class="fa-brands fa-instagram-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="footer__copy">&copy; 2022 WPTom - HTML starter theme.</p>
            </div>
        </div>
    </div>
</footer>
<script src="js/tiny-slider.js"></script>
<script type="module" src="js/script.js"></script>
</body>
</html>
