<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML starter</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
</head>
<body>
    <header id="home" class="header">
    <div class="header__inner">
        <div class="container-lg">
            <div class="row g-0 justify-content-between align-items-center">
                <div class="col-3">
                    <div class="header__logo">Logo</div>
                </div>
                <div class="col-9">
                    <nav class="header-nav header-nav--right">
                        <ul class="header-nav__list">
                            <li class="header-nav__list__item header-nav__list__item--active">
                                <a class="header-nav__list__item__link" href="#home">Home</a>
                            </li>
                            <li class="header-nav__list__item">
                                <a class="header-nav__list__item__link" href="#section-features">Features</a>
                            </li>
                            <li class="header-nav__list__item">
                                <a class="header-nav__list__item__link" href="#section-faq">FAQ</a>
                            </li>
                            <li class="header-nav__list__item">
                                <a class="header-nav__list__item__link" href="#section-testimonials">Testimonials</a>
                            </li>
                            <li class="header-nav__list__item">
                                <a class="header-nav__list__item__link" href="#section-download">Download</a>
                            </li>
                        </ul>
                    </nav>
                    <button class="nav-hamburger">
                        <span></span>
                    </button>
                    <!-- /.header-nav -->
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header__inner -->
    </header>
    <!-- /.header -->
