<section class="hero">
    <div class="hero__inner">
        <div class="container-lg">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-5 d-flex justify-content-center align-items-center">
                    <div class="hero__info">
                        <h1 class="hero__info__title"><span>A Nice Headline</span>Goes Here</h1>
                        <p class="hero__info__desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                        </p>
                        <div class="hero__info__actions">
                            <button class="button">Register</button>
                            <button class="button button--inverted">Watch demo</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="hero__image">
                        <img src="images/macbookpro.png" class="hero__image__img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
