<div class="icon-box">
    <div class="icon-box__inner">
        <div class="icon-box__icon">
            <i class="fab fa-apple"></i>
        </div>
        <div class="icon-box__text">
            <h4 class="icon-box__text__title">Feature One</h4>
            <p class="icon-box__text__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut.</p>
        </div>
    </div>
</div>
