<section id="section-testimonials" class="section section--with-padding section-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="section-title"><span class="section-title__sub">Testimonials</span>Our Happy Customers</h2>

                <div class="testimonials-slider" id="testimonials">
                    <div class="testimonials-slider__item">
                        <div class="testimonials-slider__item__top"><i class="fa-solid fa-quote-left"></i></div>
                        <p class="testimonials-slider__item__text">Awesome template, it has all the layouts and components I need for every web design project, lorem ipsum dolor sit lorem ipsum dolor sit amet.</p>
                        <div class="testimonials-slider__item__user">
                            <div class="testimonials-slider__item__user__img">
                                <img src="images/user-100x100.png" alt="">
                            </div>
                            <div class="testimonials-slider__item__user__name">John Doe</div>
                            <div class="testimonials-slider__item__user__info">Company Inc.</div>
                        </div>
                    </div>
                    <div class="testimonials-slider__item">
                        <div class="testimonials-slider__item__top"><i class="fa-solid fa-quote-left"></i></div>
                        <p class="testimonials-slider__item__text">Awesome template, it has all the layouts and components I need for every web design project, lorem ipsum dolor sit lorem ipsum dolor sit amet.</p>
                        <div class="testimonials-slider__item__user">
                            <div class="testimonials-slider__item__user__img">
                                <img src="images/user-100x100.png" alt="">
                            </div>
                            <div class="testimonials-slider__item__user__name">Tom Hanks</div>
                            <div class="testimonials-slider__item__user__info">Hollywood Inc.</div>
                        </div>
                    </div>
                    <div class="testimonials-slider__item">
                        <div class="testimonials-slider__item__top"><i class="fa-solid fa-quote-left"></i></div>
                        <p class="testimonials-slider__item__text">Awesome template, it has all the layouts and components I need for every web design project, lorem ipsum dolor sit lorem ipsum dolor sit amet.</p>
                        <div class="testimonials-slider__item__user">
                            <div class="testimonials-slider__item__user__img">
                                <img src="images/user-100x100.png" alt="">
                            </div>
                            <div class="testimonials-slider__item__user__name">Tina Dae</div>
                            <div class="testimonials-slider__item__user__info">Company Inc.</div>
                        </div>
                    </div>
                </div>

                <div id="customize-controls" class="testimonials-slider-controls">
                    <button class="testimonials-slider-controls__prev">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                    <button class="testimonials-slider-controls__next">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>

