.button {
    padding: 0 40px;
    border: 1px solid $col-button-border-default;
    border-radius: 3px;
    background-color: $col-button-default;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 3em;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        background-color: $col-button-hover;
        cursor: pointer;
    }

    &--inverted {
        background-color: transparent;
        color: $col-brand-primary;

        &:hover {
            color: $col-white;
        }
    }
}
