.footer-nav {
	&__list {
		list-style: none;
		text-align: center;

		&__item {
			display: block;

			&__link {
				font-weight: bold;
				font-size: $footer-nav-font-size;
				letter-spacing: 0.05em;
				text-decoration: none;
				text-transform: uppercase;

				&,
				&:link,
				&:visited {
					color: $footer-nav-color;
				}

				&:hover,
				&:active,
				&:focus {
					color: $footer-nav-color-hover;
				}
			}

			@include media-breakpoint-up(sm) {
				display: inline-block;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
