.header-nav {
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 1;
  width: 100vw;
  height: $header-height-mobile;
  background-color: $header-nav-background-color;
  font-size: 0.75rem;
  opacity: 0;
  transition: all 300ms ease-in-out;

  @include media-breakpoint-up(lg) {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    width: auto;
    background-color: transparent;
    opacity: 1;
  }

  &__list {
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
    }

    &__item {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      border-bottom: $header-nav-border-bottom;
      text-align: left;
      text-transform: uppercase;

      @include media-breakpoint-up(lg) {
        display: inline-block;
        padding: 0;
        border-bottom: 0;
      }

      &__link {
        display: block;
        padding: 25px;
        transition: all 300ms ease-in-out;

        @include media-breakpoint-up(lg) {
          padding: 0;
        }

        &,
        &:link,
        &:visited {
          color: $col-gray-200;
          text-decoration: none;

          @include media-breakpoint-up(lg) {
            padding: 27px 30px;
            color: $col-brand-primary;
          }
        }

        &:hover,
        &:active {
          color: $col-white;

          @include media-breakpoint-up(lg) {
            color: $col-brand-primary;
            opacity: 0.7;
          }
        }
      }

      &--active {
        &::after {
          content: " ";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: $col-brand-primary;
        }
      }
    }
  }

  & + .nav-hamburger {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 2;
    display: block;
    padding: 5px 18px 7px 0;
    border: 0;
    background: transparent;
    opacity: 1;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    span {
      &,
      &::before,
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 18px;
        height: 2px;
        border-radius: 1px;
        background: $header-nav-burger-color;
        cursor: pointer;
        transition: all 100ms ease-in-out;
      }

      &::before {
        top: -5px;
      }

      &::after {
        bottom: -5px;
      }
    }
  }

  &--right {
    justify-content: flex-start;

    @include media-breakpoint-up(lg) {
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  &--visible {
    left: 0;
    overflow-y: auto;
    height: 100vh;
    opacity: 1;

    & + .nav-hamburger {
      span {
        background-color: transparent;
        opacity: 1;

        &::before,
        &::after {
          top: 0;
        }

        &::before {
          transform: rotate(135deg);
        }

        &::after {
          transform: rotate(-135deg);
        }
      }
    }
  }
}
