.icon-box {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        text-align: center;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            text-align: left;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;

        @include media-breakpoint-up(md) {
            flex-basis: 130px;
            align-self: flex-start;
            margin-right: 30px;
        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            margin-right: 0;
            margin-bottom: 30px;
            border-radius: 50%;
            background-color: $icon-box-background-color;
            text-align: center;
            color: $icon-box-default-color;
            font-size: 30px;
        }
    }

    &__text {
        &__title {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: $font-size-h4;
        }

        &__desc {
            line-height: $line-height-default;
        }
    }
}
