@use "sass:color";

.section-download {
	border-top: 1px solid color.adjust($col-neutral-1, $lightness: -10%);
	border-bottom: 1px solid color.adjust($col-neutral-1, $lightness: -10%);
	background-color: color.adjust($col-neutral-1);

	&__desc {
		margin-bottom: 40px;
	}

	.section-title {
		margin-bottom: 20px;
	}
}
